.top_bar {
    background: #316DC3;
    padding: 5px 0;
}

.social-btns {
    line-height: 40px;
    margin: 0 10px 0 10px;
    width: 40px;
    padding: 5px 10;
}

.top_bar p {
    font-size: 15px;
    color: #ffffff;
    margin: 0 10px 0 10px;
    font-weight: normal;
    text-align: center;
}

.custom-bottons {
    background-color: #F5F5F5;
    line-height: 48px;
    padding: 5px; 
    text-decoration: none;
    border: 1px solid green;
    color: green;
    font-size: 15px;
    text-align: right;
}
.collapse ul {
    /* *zoom:1; */
    list-style:none;
    margin:0;
    padding:0px;
    /* background:#333; */
}
.collapse ul:before, .collapse ul:after {
    content:"";
    display:table;
}
.collapse ul:after {
    clear:both;
}
.collapse ul li {
    float:left;
    position:relative;
    }
.collapse a {
    display:block;
    padding:10px 20px;
    line-height:1.2em;
    color:#333333;
    text-decoration: none;
}
.collapse a:hover {
    background-color: #316DC3;
    border-radius: 50px;
    color: #ffffff !important;
}
.collapse li ul {
    background:#F5F5F5;
}
.collapse li ul li {
    width:200px;
}
.collapse li ul a {
    border:none;
    color: #666;
}
.collapse li ul a:hover {
    background:#316DC3;
    border-radius: 0px;
}
.collapse li ul {
    position:absolute;
    left:0;
    top:36px;
    z-index:1;
    max-height:0;
    overflow:hidden;
    -webkit-transform:perspective(400) rotate3d(1,0,0,-90deg);
    -webkit-transform-origin:50% 0;
    -webkit-transition:350ms;
    -moz-transition:350ms;
    -o-transition:350ms;
    transition:350ms;
}
.collapse ul > li:hover ul {
    max-height:1000px;
    -webkit-transform:perspective(400) rotate3d(0,0,0,0);
}

.navbar-nav .nav-item{
    margin: 0;
}

.navbar-nav .nav-item .nav-link{
    display: block;
    padding: 11px 12px 11px 12px;
    color: #333333;
    font-size: 15px;
    font-weight: 500;
}

.navbar-nav .nav-item .nav-link:hover {
    background-color: #316DC3;
    border-radius: 50px;
    color: #ffffff !important;
}

.navbar-nav .nav-item .nav-link:hover .dropdown-menu{
    display: block !important;
}

.marquee-box{
    width: 100%;
    height: auto;
    background-color: #316DC3;
}

.marquee-box marquee{
    line-height: 20px;
}

#intro{
    background-color: #F7F8FA;
    margin-top: 20px;
    width: 100%;
    height: auto;
}

.heading span:first-child{
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
    /* font-family: 'Playfair Display', serif; */
    font-weight: 600;
    color: #316DC3;
}

.heading span:last-child{
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
    /* font-family: 'Playfair Display', serif; */
    font-weight: 600;
    color: #427900 !important;
}    

.heading-icon{
    /* width: 200px; */
    position: relative;
    margin: auto;
    width: 150px;
}

.heading-icon::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    border-bottom: 2px solid #427900;
}

.heading-icon::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    border-bottom: 2px solid #427900;
}

#counter{
    background-color: #2755E9;
    width: 100%;
    height: auto;
    padding: 70px 0 70px 0;
}

#doing{
    background-color: #F7F8FA;
    width: 100%;
    height: auto;
}

#counter .counter-box h2{
    font-size: 55px;
}

#counter .counter-box p{
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
}

#counter .counter-box p span{
    color: #07E227;
    font-weight: 600;
    font-size: 18px !important;
}

#doing .doing-box h4{
    font-size: 25px;
    margin-top: 10px;
    color: #316DC3;
    font-weight: 600;
}

#mission .mission-heading h2{
    font-size: 25px;
    color: #316DC3;
    font-weight: 600;
    line-height: 50px;
}

#mission .mission-heading h2::before{
    content: '';
    position: absolute;
    bottom: 0;
    line-height: 30px;
    left: 0;
    width: 50px;
    border-bottom: 2px solid #427900;
}

#mission .mission-box{
    background-color: #F7F8FA;
}

#mission .mission-box p{
    font-size: 18px;
    font-weight: 600;
    color: #316DC3;
}

#footer{
    background-color: #25272E;
    width: 100%;
    height: auto;
    padding: 25px 0 30px 0;
}

#footer .contacts .fa{
    color: #427900;
}

#footer .contacts ul li{
    font-size: 14px;
    line-height: 1.7px;
}

#footer .footer-heading{
    border-bottom: 1px solid #444;
}

#footer .footer-heading h2{
    font-size: 15px;
    color: #ffffff;
    font-weight: 600;
    /* line-height: 50px; */
}

#footer .footer-heading h2::before{
    content: '';
    position: absolute;
    bottom: 0;
    line-height: 30px;
    left: 0;
    width: 50px;
    border-bottom: 2px solid #427900;
}

#footer .connects h2{
    font-size: 15px;
    color: #ffffff;
    font-weight: 600;
}

#footer .social-icons .facebook{
    border-radius: 50%;
    background-color: #316DC3;
    width: 30px;
    height: 30px;
    margin:0 5px 0 5px;
}

#footer .social-icons .facebook .fa{
    transform: translate(100%, 27%);
    color: #ffffff;
}

#footer .social-icons .twitter{
    border-radius: 50%;
    background-color: #316DC3;
    width: 30px;
    height: 30px;
    margin:0 5px 0 5px;
}

#footer .social-icons .twitter .fa{
    transform: translate(55%, 22%);
    color: #ffffff;
}

#footer .social-icons .instagram{
    border-radius: 50%;
    background-color: #316DC3;
    width: 30px;
    height: 30px;
    margin:0 5px 0 5px;
}

#footer .social-icons .instagram .fa{
    transform: translate(50%, 22%);
    color: #ffffff;
}

#footer .social-icons .youtube{
    border-radius: 50%;
    background-color: #316DC3;
    width: 30px;
    height: 30px;
    margin:0 5px 0 5px;
}

#footer .social-icons .youtube .fa{
    transform: translate(44%, 20%);
    color: #ffffff;
}

.cr-bg{
    background-color: #316DC3;
}

.cr-bg p{
    color: #ffffff;
    margin: 0;
    line-height: 50px;
    font-size: 15px;
}